:root {
    --primary-color: #F50122;
    --secondary-color: #00662E;
    --accent-color: #fbecd9;
    --text-color: #333;
    --heading-font: "Source Sans 3", sans-serif;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    padding: 1.5rem;
}

header h1 {
    margin: 0;
    color: #fff;
    font-size: 2rem;
}

nav {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--text-color);
    margin: 0;
    padding: 1.5rem;
}

.navigation {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.15rem;
}

.navigation li::after {
    content: "|";
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    color: #999;
}

.navigation li:last-child::after {
    content: "";
}

nav a {
    width: 400px;
    color: var(--accent-color);
    text-decoration: none;
}

body.home nav li.home a {
    color: #fff;
    text-decoration: underline;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}

main {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    padding: 1.5rem;
}

main h2 {
    margin: 0;
    color: #fff;
    font-size: 2rem;
    line-height: 1.1em;
}

main p,
main ul {
    color: #fff;
    font-size: 1.15rem;
}

main p a,
main li a {
    color: #fff;
}

form.calc {
    background-color: var(--accent-color);
    padding: 1rem;
}

.calc fieldset {
    padding: 0;
    border: none;
}

.calc label {
    display: block;
    font-size: 1rem;
    color: var(--text-color);
}

.calc select,
.calc input {
    display: block;
    width: 100%;
    /* max-width: 360px; */
    background-color: #fff;
    display: block;
    border: solid 1px #ccc;
    border-radius: 0px;
    padding: 1.5rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
    appearance: none;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    box-sizing: border-box;
}

.calc input[readonly] {
    background-color: #f0f0f0;
    color: #333;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: var(--text-color);
    color: var(--accent-color);
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
}

footer a {
    color: var(--accent-color);
}