body {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

header {
    background-color: #333333;
    color: #ffffff;
    grid-column: 1 / 3;
}

nav {
    background-color: #000000;
    margin-top: 50px;
}

main {
    background-color: #cccccc;
    grid-column: 1 / 2;
    color: #333333;
    min-height: 300px;
}

aside {
    background-color: #ffffff;
    grid-column: 2 / 3;
    color: #333333;
    min-height: 300px;
}

footer {
    background-color: #333333;
    grid-column: 1 / 3;
    color: #ffffff;
    min-height: 200px;
}

h1,
h2,
h3,
h4 {
    font-family: serif;
    font-size: 1.5em;
    padding: 1em;
    line-height: 1em;
    font-weight: 400;
    margin: 0px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-indent: 0px;
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
    padding: 1em;
    margin-bottom: 0px;
}

nav ul li {
    flex: 1 1 auto;
}

nav li a {
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 1em;
    color: #ffffff;
    text-decoration: none;
}

    nav li a:hover {
        text-decoration: underline;
    }

footer {
    text-align: center;
}