body {
    background-color: #000000;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

body a {
    color: #004190;
}

body header,
body main,
body footer {
    width: 1072px;
}

header {

}

header span {
    display: block;
    height: 60px;
    background-color: #004190;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 4rem;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background-color: #333333;
    margin-bottom: 0px;
}

header nav a {
    flex: 1 1 100%;
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 8px;
    padding-left: 48px;
    padding-right: 63px;
    padding-bottom: 16px;
    box-sizing: border-box;
}

main section:nth-of-type(2) {
    display: grid;
    grid-template-rows: auto 1fr;
}

main section:nth-of-type(2) ul {
    align-self: center;
}

main h1 {
    grid-column: 1/3;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}

main section {
    border-radius: 0.5rem;
    border: 1px solid #b2b2b2;
    padding-bottom: 16px;
}

main section:nth-child(3) {

}

main section h2,
main section h3 {
    background-color: #004190;
    margin-top: 0px;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 42px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.7rem;
    margin-bottom: 32px;
}

main section p {
    margin: 16px;
    color: #555555;
}

main section h4 {
    margin: 32px 64px 32px 64px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #b2b2b2;
}

main section img.profile {
    float: right;
    width: 122px;
    margin: 0 16px;
    border: 1px solid #b2b2b2;;
}

main section figure {
    float: left;
    width: 240px;
    margin: 0 16px;
    font-style: italic;
    text-align: center;
    line-height: 1em;
}

main section img.state {
    float: left;
    width: 240px;
    margin-bottom: 16px;
    border: 1px solid #b2b2b2;
}

main section figure figcaption {
}

footer {
    background-color: #004190;
    color: #ffffff;;
    text-align: center;
    font-size: 1rem;
}

footer p:first-child {
    margin-bottom: 0px;
}

footer p .separator {
    margin: 0 10px;
}

footer p +p {
    color: #CAF0FE;
    margin-top: 4px;
}