body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    /* background-color: #ccc; */
}

header {
    background-color: #3f0065;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

header h2 {
    padding: 1rem;
    margin: 0;
}

header nav {
    display: flex;
    flex-direction: column;
}

header nav a {
    border: 1px solid #3f0065;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: none;
}

header nav a:hover {
    /* text-decoration: underline; */
    background-color: #6900ab;
}

.navigation.open a {
    display: block;
}

main {
    background-color: #fff;
    padding: 2rem;
}

main h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}

figure {
    width: 100%;
    margin: 0 0 2rem 0;
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
}

footer { 
    background-color: #3f0065;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

footer .separator {
    margin: 0 .5rem;
}

#menu {
    border: 1px solid red;
    font-size: 2rem;
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "Ⓧ";
}