@media screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 1rem;
    }

    header button { 
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
    }

    header nav a {
        border-bottom: none;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .gallery figure {
        margin: 0;
    }

}

