body {
    font-family: Roboto;
    font-weight: 400;
}

header,
main, 
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: rgb(214, 241, 255);
}

main {
    display: grid; 
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}